@import url(nullStyle.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

header {
    background:linear-gradient(90deg,rgba(250, 250, 250, 1),rgba(250, 250, 250, 0)), url(img/headerCover.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.header_content {
    position: relative;
    left: 13.5%;
    top: 4.5%;
    right: 4.1%;
}

.header_title {
    height: 32px;
    display: flex;
    width: 82.4%;
    justify-content: space-between;
}

.logo_block {
    color: rgba(37, 43, 66, 1);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    width: 223px;
}

.header_title_rightSide {
    display: flex;
}
.nav_block {
    height: 32px;
    align-items: center;
    width: 285px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.header_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: rgba(115, 115, 115, 1);
}

.BAP_block {
    margin-top: 161px;
    height: 420px;
}

.BAP_block__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    color:rgba(37, 43, 66, 1);
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    width: 300px;
    height: 240px;
}

.BAP_block__inf {
    color: rgba(115, 115, 115, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    width: 380px;
    height: 60px;
    margin:  30px 0;
}

.BAP_block__buttons {
    display: flex;
    justify-content: space-between;
    width: 355px;
}
.btn {
    height: 48px;
    border-radius: 37px;
    padding: 10px 36px;
    background-color: transparent;
}
.GQN_btn {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 123, 71, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
}
.LM_btn {
    color: rgba(13, 92, 99, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    border: 1px solid rgba(13, 92, 99, 1);
}

.ECM_content {
    position: relative;
    left: 13.5%;
    top: 4.5%;
    right: 4.1%;
}
.ECM_block {
    margin-top: 150px;
    overflow: hidden;
}

.ECM_inf {
    margin-top: 10px;
    width: 510px;
}
.ECM_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: rgba(37, 43, 66, 1);
}
.ECM_text {
    color:rgba(115, 115, 115, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.ECM_blocks_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 45px 0 100px 0 ;
}

.element_container {
    display: flex;
    border: 1px solid rgba(226, 226, 226, 1);
    background: rgba(250, 250, 250, 1);
    padding: 20px;
    width: 350px;
    height: 115px;
    margin: 15px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.element_img {
    border-radius: 50%;
    background-color: rgba(13, 92, 99, 1);
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element_text {
    text-align: center;
    margin: auto 15px ;
}

.adtnl_text {
    color: #737373;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.main_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color:rgba(37, 43, 66, 1)
}

.WWA_block {
    background-color: rgba(250, 250, 250, 1);
    padding-top: 100px;
    overflow:hidden;
    height: 890px;
}
.WWA_content {
    position: relative;
    left: 13.5%;
    top: 4.5%;
    right: 4.1%;
    margin-top: 100px;

}


.WWA_block__main_title {
    text-align: center;
    margin-bottom: 15px;
}



.WWA_block__main_inf {
    text-align: center;
    max-width: 516px;
    margin: 0 auto;
}

.WWA_block__almost_video {

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%),url('img/videocover.jpg');
    background-size: cover;
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.almost_video__play_button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(13, 92, 99, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.WWA_block__container {
    display: flex;
    width: 1060px;
    justify-content: space-between;
}

.video_adthnl_inf__title {
    text-align:left;
}
.video_adthnl_inf__adtnl_text {
    text-align:left;
    margin-top: 10px;
}

.fst_li__text_container {
    display: flex;
    flex-direction: column;
    max-width:281px;
}
.scnd_li__text_container {
    display: flex;
    flex-direction: column;
    max-width:281px;
}

.li_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.li_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.WWA_block__video_adthnl_inf {
    max-width: 330px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.video_adthnl_inf_list__fst_li {
    display: flex;
    justify-content: space-between;
}
.video_adthnl_inf_list__scnd_li {
    display: flex;
    justify-content: space-between;
}

.video_adthnl_inf_list {
    width: 330px;
    margin-top: 30px;
}


.WCS_block {
    background-color: #17213C;
    height: 678px;
}

.WCS_main_title {
  color:  #FFFFFF;
  padding-top: 60px;
}
.WCS_main_adthnl_title {
   color: #FFFFFF;
   max-width:470px;
   text-align: center;
   margin: 0 auto;
   padding-top: 10px;
   padding-bottom: 90px;
}

.WCS_feedback_blck {
    display: flex;
    justify-content: space-around;
}

.WCS_client {
    background-color: #FFFFFF;
    max-width: 490px;
    padding: 30px 60px;
    border-radius: 3px;
}

.WCS_client__header_container {
    display: flex;
    justify-content: space-around;
}

.WCS_client__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.WCS_client__stars {
    margin: 15px 0;
}


.MOT_block {
    background-color: #FAFAFA;
    height: 610px;
}
.MOT_content {
    max-width: 1050px;
    margin: 0 auto;
}
.MOT_member {
    background-color: #FFFFFF;
    width: 230px;
}

.MOT__team_container {
    display: flex;
    justify-content: space-between;
}

.MOT__main_title {
  padding-top: 60px;
}
.MOT__main_adtnl_text {
   max-width:470px;
   text-align: center;
   margin: 0 auto;
   padding-top: 10px;
   padding-bottom: 90px;
}

.member_job {
   color: rgba(255, 123, 71, 1);
   font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
}
.member_name {
    color: rgba(37, 43, 66, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    margin-bottom: 5px;
}
.member_inf {
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.member__image {
    margin: 30px 51px 5px 51px;
}

.bottom_block {
    height: 1223px;
    background-color: #252B42;
}
.WHB_block {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.WHB__main_inf_container {
    display: flex;
    justify-content: space-between;
    margin:  100px 0 150px 0 ;

}
.WHB_title_text_container {
    width: 465px;
}

.WHB_main_title {
    color: #FFFFFF;
    text-align: left;
}
.WHB__main_adtnl_inf {
    color:#FFFFFF ;
}